#fileFrame{
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	margin: 0;
	padding: 0;
}
#fileFrameConverting{
    border: 1px solid #e9a222;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	margin: 0;
	padding: 0;
}
#fileFrameFinished{
	background-color: rgba(0, 187, 0, 0.4);
	border-radius: 10px;
	margin: 0;
	padding: 0;
}
#fileFrameFailed{
	background-color: rgba(218, 16, 57, 0.4);
	border-radius: 10px;
	margin: 0;
	padding: 0;
}
#mainLabel{
	font-size: 15px;
	font-family: Helvetica, "Segoe UI", sans-serif;
}
#fileName{
	background-color: transparent;
	font-size: 16px;
	max-width: 270px;
}
#fileSize{
	background-color: transparent;
	color: #707070;
}
#fileSlides{
	background-color: transparent;
	color: #707070;
}
#fileStatus{
	background-color: transparent;
	color: #89898b;
}
#fileStatusProcessing{
	background-color: transparent;
	color: #e9a222;
}
#fileStatusFailed{
	background-color: transparent;
	color: #da1039;
}
#fileStatusCanceled{
	background-color: transparent;
	color: #da1039;
}
#fileStatusConverting{
	background-color: transparent;
	color: #da1039;
}
#fileStatusFinished{
	background-color: transparent;
	border: none;
	color: #005500;
}
QProgressBar{
	background-color: rgba(0, 0, 0, 0.2);
	border-bottom: none;
	max-width: 170px;
	min-width: 170px;
	text-align: center;
	border-radius: 5px;
	height: 25px;
}
QProgressBar::chunk{
	background-color: green;
	border-radius: 5px;
}